._*
.~lock.*
.buildpath
.DS_Store
.idea/
.project
.settings

# Ignore node stuff
node_modules/
npm-debug.log
libpeerconnection.log

# Bower components
bower/

# Temporary build files
tmp/

#Coverage reports
coverage/

# Demo
demo/bower_components/
demo/node_modules/
demo/coverage/
demo/.sass-cache/
demo/.idea/
demo/.tmp/
demo/dist/
demo/properties.json
demo/src/app/index.constants.js


