<ng-container [ngSwitch]="formControl.type">

  <dg-header *ngSwitchCase="'header'" [dgFormControl]="formControl" [dgFormName]="formName"></dg-header>
  <dg-text-input *ngSwitchCase="'textInput'" [dgFormControl]="formControl" [dgFormName]="formName"></dg-text-input>
  <dg-number-input *ngSwitchCase="'numberInput'" [dgFormControl]="formControl" [dgFormName]="formName"></dg-number-input>
  <dg-date-input *ngSwitchCase="'dateInput'" [dgFormControl]="formControl" [dgFormName]="formName"></dg-date-input>
  <dg-select *ngSwitchCase="'select'" [dgFormControl]="formControl" [dgFormName]="formName"></dg-select>
  <dg-checkbox *ngSwitchCase="'checkbox'" [dgFormControl]="formControl" [dgFormName]="formName"></dg-checkbox>
  <dg-radio *ngSwitchCase="'radio'" [dgFormControl]="formControl" [dgFormName]="formName"></dg-radio>
  <dg-static-text *ngSwitchCase="'staticText'" [dgFormControl]="formControl" [dgFormName]="formName"></dg-static-text>

  <div *ngSwitchDefault>
    <div class="alert alert-warning">Unsupported form control of type: <strong>{{formControl.type}}</strong></div>
  </div>
</ng-container>
