<div class="form-group">
  <label for="{{id}}" class="col-sm-4 control-label"
         ng-class="{required : constraints.required}">{{label}}</label>

  <div class="col-sm-4" ng-switch on="description !== undefined">

    <div class="input-group" ng-switch-when="true">

      <input type="number" id="{{id}}" name="{{id}}" ng-model="data[id]" class="form-control"
             placeholder="{{placeholder}}"
             min="{{min()}}" max="{{max()}}"
             ng-disabled="constraints.disabled" ng-required="constraints.required"/>
       <span class="input-group-btn">
         <button type="button" class="btn btn-default"
                 data-placement="right" title="{{description.title}}" data-content="{{description.content}}"
                 data-trigger="click" bs-popover>
           <span class="glyphicon glyphicon-question-sign"></span>
         </button>
      </span>
    </div>

    <div ng-switch-default>
      <input type="number" id="{{id}}" name="{{id}}" ng-model="data[id]" class="form-control"
             placeholder="{{placeholder}}"
             min="{{min()}}" max="{{max()}}"
             ng-disabled="constraints.disabled" ng-required="constraints.required"/>
    </div>
    <div ng-messages="formModel[id].$error" class="message-invalid" ng-if="formModel.submitPressed">
      <div ng-message="required">{{localize("error.required_field")}}</div>
      <div ng-message="max">{{localize("error.value_is_gt_max")}}</div>
      <div ng-message="min">{{localize("error.value_is_lt_min")}}</div>
    </div>

  </div>

</div>
