<div class="form-group">

  <label for="{{id}}" class="col-sm-4 control-label"
         ng-class="{required : constraints.required}">{{label}}</label>

  <div class="col-sm-4" ng-switch on="description !== undefined">

    <div class="input-group" ng-switch-when="true">
      <select id="{{id}}" name="{{id}}" class="form-control"
              ng-options="option.code as option.value | dgTranslate:formName:lang for option in options"
              ng-model="data[id]" ng-disabled="constraints.disabled" ng-required="constraints.required">
        <option></option>
      </select>
       <span class="input-group-btn">
         <button type="button" class="btn btn-default"
                 data-placement="right" title="{{description.title}}" data-content="{{description.content}}"
                 data-trigger="click" bs-popover>
           <span class="glyphicon glyphicon-question-sign"></span>
         </button>
      </span>
    </div>

    <div ng-switch-default>
      <div class="select">
        <select id="{{id}}" name="{{id}}" class="form-control"
                ng-options="option.code as option.value | dgTranslate:formName:lang for option in options"
                ng-model="data[id]" ng-disabled="constraints.disabled" ng-required="constraints.required">
          <option></option>
        </select>
      </div>
    </div>

    <div ng-messages="formModel[id].$error" class="message-invalid" ng-if="formModel.submitPressed">
      <div ng-message="required">{{localize("error.no_item_selected")}}</div>
    </div>

  </div>


</div>
