<div class="form-group">

  <label for="{{id}}_0" class="col-sm-4 control-label"
         ng-class="{required : constraints.required}">{{label}}</label>

  <div class="col-sm-4" ng-switch on="description !== undefined">

    <div class="row">

      <div class="col-xs-5"> <!-- FIRST -->
        <div class="row">
          <div class="col-xs-5" style="padding: 0px">
            <input type="number" id="{{id}}_0" name="{{id}}" ng-model="data[id].intervalStart" class="form-control"
                   placeholder="{{placeholder}}"
                   min="{{min()}}" max="{{max()}}"
                   ng-disabled="constraints.disabled" ng-required="constraints.required"/>
          </div>
          <div class="col-xs-7">
            <select id="{{id}}" name="{{id}}_1" class="form-control"
                    ng-options="option.code as option.value for option in options.units"
                    ng-model="data[id].intervalStartUnit" ng-disabled="constraints.disabled"
                    ng-required="constraints.required">
              <option></option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-2">
        <p class="text-center">&#8212;</p>
      </div>

      <div class="col-xs-5"> <!-- SECOND -->
        <div class="row">
          <div class="col-xs-5">
            <input type="number" id="{{id}}_2" name="{{id}}" ng-model="data[id].intervalEnd" class="form-control"
                   placeholder="{{placeholder}}"
                   min="{{min()}}" max="{{max()}}"
                   ng-disabled="constraints.disabled" ng-required="constraints.required"/>
          </div>
          <div class="col-xs-7">
            <select id="{{id}}" name="{{id}}_3" class="form-control"
                    ng-options="option.code as option.value for option in options.units"
                    ng-model="data[id].intervalEndUnit" ng-disabled="constraints.disabled"
                    ng-required="constraints.required">
              <option></option>
            </select>
          </div>
        </div>
      </div>

    </div>

    <div ng-messages="formModel[id].$error" class="message-invalid" ng-if="formModel.submitPressed">
      <div ng-message="required">{{localize("error.no_item_selected")}}</div>
    </div>

  </div>


</div>
