<div class="form-group row">
  <label for="{{formControl.id}}" [ngClass]="{'required': isRequired()}" class="col-sm-4 col-form-label">
    {{translate(formControl.label)}}
  </label>

  <div class="input-group col-sm-8">

    <select id="{{formControl.id}}" name="{{formControl.id}}" class="form-control" [(ngModel)]="data[formControl.id]"
            #model="ngModel" [disabled]="isDisabled()" [required]="isRequired()">
      <option value=""></option>
      <option *ngFor="let option of formControl.options" [value]="option.code">
        {{translate(option.text)}}
      </option>
    </select>

    <div class="input-group-btn" *ngIf="formControl.description">
      <button class="btn btn-outline-secondary" type="button">?
      </button>
    </div>

  </div>

  <div *ngIf="model.errors && (model.dirty || model.touched)" class="alert alert-danger">
    <div [hidden]="!model.errors.required">{{translate("error.required_select")}}</div>
  </div>

</div>


