<div class="container">

  <div class="card card mt-5">
    <h5 class="card-header">Dynamic form definition
      <span class="float-right">
          edit:&nbsp;
          <input type="checkbox" [(ngModel)]="editStructure">&nbsp;structure
          <input type="checkbox" [(ngModel)]="editDictionary">&nbsp;dictionary
        </span>
    </h5>
    <div class="card-body" *ngIf="editStructure || editDictionary">

      <div class="container" *ngIf="editStructure">
        <div class="alert alert-danger" role="alert" *ngIf="structureError">
          Failed to update form structure: {{structureError}}
        </div>
        <div class="form-group">
          <label for="structureJson">Structure</label>
          <textarea
            class="form-control" id="structureJson" cols="50" rows="30"
            [(ngModel)]="structureJson"
          ></textarea>
        </div>
        <a href="#" class="btn btn-primary" (click)="updateFormStructure()">Update structure</a>
      </div>

      <div class="container" *ngIf="editDictionary">
        <div class="alert alert-danger" role="alert" *ngIf="dictionaryError">
          Failed to update form dictionary: {{dictionaryError}}
        </div>
        <div class="form-group">
          <label for="dictionaryJson">Dictionary</label>
          <textarea
            class="form-control" id="dictionaryJson" cols="50" rows="10"
            [(ngModel)]="dictionaryJson"
          ></textarea>
        </div>
        <a href="#" class="btn btn-primary" (click)="updateDictionary()">Update dictionary</a>
      </div>

    </div>

  </div>

  <div class="card card mt-5">
    <h5 class="card-header">Dynamic form demo</h5>
    <div class="card-body">

      <dg-form name="demoForm" lang="en" *ngIf="form"></dg-form>
      <!--<a href="#" class="btn btn-primary">Submit</a>-->
    </div>
  </div>

  <div class="card mt-5 mb-5">
    <h5 class="card-header">Form data</h5>
    <div class="card-body">
      <pre>{{formData | json}}</pre>
    </div>
  </div>

</div>
