<div class="container">

  <div class="card card mt-5">
    <h5 class="card-header">Dynamic form demo</h5>
    <div class="card-body" *ngIf="form">

      <dg-form name="demoForm" #dgForm></dg-form>
      <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!dgForm.isValid()">Submit</button>

      <div class="card mt-5 mb-5">
        <h5 class="card-header">Form status</h5>
        <div class="card-body">
          <pre>Touched: {{dgForm.isTouched()}}</pre>
          <pre>Dirty: {{dgForm.isDirty()}}</pre>
          <pre>Valid: {{dgForm.isValid()}}</pre>
          <pre>Value: {{dgForm.getValue() | json}}</pre>
        </div>
      </div>

    </div>
  </div>

</div>
